@use "./colours" as *;

// this is the regular (not bold) font - weight 400
@font-face {
  font-family: "Archivo";
  src: url(../../assets//fonts/Archivo-Light-300.woff2) format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Archivo";
  src: url(../../assets//fonts/Archivo-Light-300.woff2) format("woff2");
  font-weight: 400;
}

// this is the bold font - weight 600
@font-face {
  font-family: "Monsterrat";
  src: url(../../assets/fonts/Monssterrat-Regular-400.woff2) format("woff2");
  font-weight: 600;
}